html, body {
  height: 100%;
  margin: 0;
  width: 100%;
}

.my_social {
  position: absolute;
  top: 25px;
  left: 25px;
}

.my_social a {
  display: inline-block;
  height: 2.5em;
}

.my_social a img {
  height: 1.5em;
}

.awesome-window-container {
  background-color: #80c3cc;
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
  position: relative;
  width: 100%;
  z-index: -1;
}

.window {
  background-color: transparent;
  border: 40px solid #fff4e1;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
  border-top-left-radius: 25%;
  border-top-right-radius: 25%;
  height: 400px;
  position: relative;
  width: 355px;
}

.window__top-background {
  background-color: #ebede2;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
  height: 350px;
  position: absolute;
  width: 275px;
  z-index: -10;
}

.window__smoke {
  background-color: #dfd1c8;
  border-bottom-left-radius: 100%;
  border-bottom-right-radius: 100%;
  height: 60px;
  position: absolute;
  z-index: -8;
}

.window__smoke--one {
  width: 275px;
}

.window__smoke--two {
  left: 50%;
  top: 30px;
  transform: translate(-50%);
  width: 150px;
}

.window__smoke--three {
  border-radius: 0;
  height: 35px;
  left: 50%;
  top: 75px;
  transform: translate(-50%);
  width: 20px;
}

.window__curve {
  background-color: #ebede2;
  height: 200px;
  position: absolute;
  top: 50px;
  width: 125px;
  z-index: -9;
}

.window__curve--one {
  border-bottom-right-radius: 100%;
  left: 0;
}

.window__curve--two {
  border-bottom-left-radius: 100%;
  right: 0;
}

.window__lava {
  background-color: #ff4a00;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  position: absolute;
  top: 110px;
  z-index: -8;
}

.window__lava--one {
  animation: LavaOneDrip 15s;
  height: 250px;
  left: 53%;
  transform: translate(-50%);
  width: 10px;
}

.window__lava--two {
  animation: LavaTwoDrip 10s;
  height: 250px;
  left: 47%;
  transform: translate(-50%);
  width: 10px;
}

.window__volcano {
  background-color: #b19995;
  border-bottom-left-radius: 100%;
  border-bottom-right-radius: 100%;
  bottom: 0;
  height: 240px;
  position: absolute;
  width: 275px;
  z-index: -10;
}

.window__water {
  animation: LavaWater 35s;
  background-color: #ff4a00;
  border-radius: 100%;
  bottom: 0;
  height: 50px;
  left: 50%;
  position: absolute;
  transform: translate(-50%);
  width: 200px;
  z-index: -8;
}

@keyframes LavaOneDrip {
  0% {
    height: 0;
  }
  250% {
    height: 250px;
  }
}

@keyframes LavaTwoDrip {
  0% {
    height: 50px;
  }
  100% {
    height: 250px;
  }
}

@keyframes LavaWater {
  0% {
    background-color: #99b9c5;
  }
  100% {
    background-color: #ff4a00;
  }
}

.containers {
  width: 520px;
  margin: 20px auto;
}

#contact h1 {
  font-family: helvetica;
  font-weight: normal;
  text-align: center;
  color: #c0c0c0;
  padding-top: 50px;
  padding-bottom: 10px;
  width: 375px;
  margin: 0 auto;
  border-bottom: 3px solid #f3f3f3;
}

/*


.cal {
  display: inline-block;
  background: #ffe;
  color: #555;
  font-size: 6px;
  text-align: center;
  transform: scale(1);
  transition: all 0.2s linear;
}

.cal:hover {
  transform: scale(2.5);
  transition: all 0.4s linear;
}

.cal caption {
  background: #d44;
  color: #eee;
  font-size: 15px;
}

.cal th {
  color: #aaa;
  line-height: 200%;
}

.cal th:first-child {
  color: #f00;
}

.cal th:last-child {
  color: #04d;
}

.cal td {
  padding: 0 2px;
  line-height: 100%;
}
